/* Main */
.color-orange {
  color: #ff7a00;
}

.custom-button {
  color: #fff;
  background-color: #ff7a00;
  border-radius: 3px;
}

.custom-button:hover {
  background-color: #02b8dd;
}

.custom-button:focus {
  background-color: #02b8dd;
}

/* Navbar */
.brand-logo {
  font-family: "Crete Round", serif;
  color: #444 !important;
}

.menu-item {
  color: #444;
	font-weight: bold;
}

/* Slider */
.slider .btn {
  margin-top: 20px;
}

/* Search */
.section-search {
  background-color: #444 !important;
}

.section-search input {
  color: #444;
  padding: 5px 10px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
  border-radius: 3px !important;
}

.section-search input:focus {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #444;
}

.autocomplete-content li .highlight {
  color: #ff7a00;
}

/* Popular */
.section-popular {
  background-color: #efefef;
}

.title-popular {
  color: #444;
  margin-bottom: 30px;
}

.card-custom {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.card-overlay {
  background-color: #fff;
  opacity: 0.85;
  width: 50%;
  height: 230px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

/* Gallery */
.section-gallery {
  background-color: #444;
}

.title-gallery {
  color: #fff;
  margin-bottom: 30px;
}
